@{
    ViewData["Title"] = "Home Page";
}
@model TvItemsViewModel
    <form asp-action="Index" asp-controller="Recordings">
        <div class="container">
            <div class="card-deck">

                @foreach (var item in @Model.TvItems)
                {
                    <div class="card h-100">
                        <img class="card-img-top" src=@item.Movie.ImageUrl alt="Card image cap" asp-append-version="true" />
                        <div class="rating position-absolute mt-2 ml-2">
                            <i class="fas fa-star fa-2x"></i>

                            <p>@(item.Movie.Rating != null ? string.Format("{0:F1}", item.Movie.Rating) : "???")</p>

                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title mb-0">@item.Movie.Title</h5>
                            <p class="card-text small mt-0 pt-0">@item.Movie.Category @item.Movie.Country - @item.Movie.Year</p>
                            <p class="card-text mb-5" style="min-height: 200px">@item.Movie.Description?.Substring(0, Math.Min(item.Movie.Description.Length, 300))</p>
                            <div class="container mt-auto d-flex flex-row justify-content-center">
                                <div class="row">
                                    <select class="dropdown m-2" asp-items="@item.Emissions" asp-for="Item"></select>
                                    <button asp-controller="Recordings" asp-action="Index" asp-route-id="@item.Movie.Id" class="btn btn-danger m-2 btnRecord" type="submit"><i class="fas fa-record-vinyl"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>

                }
            </div>
        </div>
    </form>
